In [2]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bs = [1,1,0,0,1]
ms = [2,1,0,0,0]
phd = [0,1,0,0,0]
GradeList = zip(names,grades,bs,ms,phd)
df = pd.DataFrame(data=GradeList,
 columns=['Name','Grade','BS','MS','PhD'])
df['Grade'].count() # number of values

5

In [3]:
df['Grade'].min() # minimum

76

In [5]:
df['Grade'].max() # maximum

99

In [6]:
df['Grade'].quantile(.25) # first quartile

77.0

In [7]:
df['Grade'].quantile(.5) # second quartile

78.0

In [8]:
df['Grade'].quantile(.75) # third quartile

95.0

In [9]:
df['Grade'].mean() # arithmetic average

85.0

In [10]:
df['Grade'].std() # standard deviation

11.067971810589327

In [11]:
df.var()

Grade    122.5
BS         0.3
MS         0.8
PhD        0.2
dtype: float64

In [12]:
df.mean()

Grade    85.0
BS        0.6
MS        0.6
PhD       0.2
dtype: float64

In [13]:
df.max()

Name     Mel
Grade     99
BS         1
MS         2
PhD        1
dtype: object

In [14]:
df.min()

Name     Bob
Grade     76
BS         0
MS         0
PhD        0
dtype: object